<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.compig.api.domain.member.MemberMapper">

    <select id="selectGuardianPaging" resultType="GuardianMemberResponse" parameterType="MemberSearchRequest">
        SELECT member_id               as memberId,
               user_nm                 as userNm,
               tel_no                  as telNo,
               user_id                 as userId,
               user_pw                 as userPw,
               email,
               gender,
               use_yn                  as useYn,
               user_type               as userType,
               dept_code               as deptCode,
               member_register_type    as memberRegisterType,
               null                    as jumin1,
               null                    as jumin2,
               address1,
               address2,
               picture,
               domestic_foreign_code   as domesticForeignCode,
               career_code             as careerCode,
               care_start_year,
               introduce,
               marketing_email_date    as marketingEmailDate,
               marketing_app_push_date as marketingAppPushDate,
               marketing_kakao_date    as marketingKakaoDate,
               marketing_sms_date      as marketingSmsDate,
               leave_reason,
               leave_date,
               real_name_yn            as realNameYn,
               di,
               ci,
               recent_login_date,
               ip_address              as ipAddress,
               null                    as account,
               null                    as patients,
               null                    as orderPatients,
               null                    as wallets,
               null                    as careOrders
        FROM member
        UNION ALL
        SELECT CAST(no_member_id AS VARCHAR) as memberId,
               user_nm                       as userNm,
               tel_no                        as telNo,
               null                          as userId,
               null                          as userPw,
               null                          as email,
               null                          as gender,
               null                          as useYn,
               null                          as userType,
               null                          as deptCode,
               null                          as memberRegisterType,
               null                          as jumin1,
               null                          as jumin2,
               null                          as address1,
               null                          as address2,
               null                          as picture,
               null                          as domesticForeignCode,
               null                          as careerCode,
               null                          as careStartYear,
               null                          as introduce,
               null                          as marketingEmailDate,
               null                          as marketingAppPushDate,
               null                          as marketingKakaoDate,
               null                          as marketingSmsDate,
               null                          as leaveReason,
               null                          as leaveDate,
               null                          as realNameYn,
               null                          as di,
               null                          as ci,
               null                          as recentLoginDate,
               null                          as ipAddress,
               null                          as account,
               null                          as patients,
               null                          as orderPatients,
               null                          as wallets,
               null                          as careOrders
        FROM no_member
        <where>
            <if test="userNm != null and userNm != ''">
                AND user_nm LIKE '%' || #{userNm} || '%'
            </if>
            <if test="telNo != null and telNo != ''">
                  AND tel_no LIKE '%' || #{telNo} || '%'
            </if>
            <if test="fromCreatedOn != null and toCreatedOn != null">
                AND created_on BETWEEN #{fromCreatedOn} AND #{toCreatedOn}
            </if>
        </where>
    </select>

</mapper>
